<html>
<body>
<h1>GenCon Event List</h1>
<p>This is a very limited search tool for the GenCon event list.</p>
<p>Currently, you have to manually update the url to search.</p>
<p>The format is:<br>gencon.falornan.com/events?[key]=[value]</p>
<p>The keys currently are:
    <ul>
        <li>id - Event ID - ex. EGM1349269</li>
        <li>group - Event group - ex. SEM</li>
        <li>title - Event title - ex. Punch%20Quest</li>
        <li>desc - Short description</li>
        <li>desc_long - Long description</li>
    </ul>
</p>
<p>You can tell it to do a fuzzy search by appending '.fuzzy' to the key.</p>
<p>For example:<br><a href="/gencon.falornan.com/events?id.fuzzy=134975">gencon.falornan.com/events?id.fuzzy=134975</a></p>
<p>You can also get the full list by going to:<br>
    <a href="/gencon.falornan.com/events">gencon.falornan.com/events</a></p>
</body>
</html>
